/*  Start Bootstrap  */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;


    --main-color: #0d6efd;
    --main-color-op: #0d6efd69;
    --main-transition: 0.3s;
    --White-color: white;
    --Black-color: black;
    --main-border-radius: 6px;


    --bs-accordion-btn-bg: var(--main-color) !important;
    --bs-accordion-active-bg: 0.5;
}

/*  End Bootstrap  */
* {
    box-sizing: border-box;
    /* font-size:calc(inherit + 100px) ; */
}
.bg-white{
    background-color: var(--White-color) !important;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Black-color);
    background: var(--White-color);

}
body.dark-color{
    /* --main-color: #9b9898; */
    /* --main-color: #0d6efd; */
    --main-color-op: #0d6efd69;
    --White-color: #22272b;
    --Black-color: white;
    background-color: #22272b;
}
:root ::-webkit-scrollbar {
    width: 24px;
}
::-webkit-scrollbar {
    /* display: none; */
    /* pointer-events: none; */
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #ddd inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    transition: var(--main-transition);
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid rgb(176, 176, 176);
}

.title {
    width: 100%;
    text-align: center;
    margin: 50px auto 50px;
    font-size: 27px ;
    font-weight: bold;
    color: var(--Black-color);
}

a {
    text-decoration: none !important;
}

.f-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body{
    color: black !important;
}
/* Start Setting-box */
body.dark-color .Setting-box {
    box-shadow: 0px -1px 2px 0px #fff;

}
.Setting-box {
    position: fixed;
    width: 240px;
    background: var(--White-color);
    box-shadow: 0px -1px 2px 0px;
    padding: 5px;
    height: 100%;
    transform: translateX(-240px);
    transition: var(--main-transition);
    z-index: 1000;
}

.Setting-box.open {
    transform: translateX(0);
}

.Setting-box .icon-box {
    position: absolute;
    top: 100px;
    padding: 11px 16px;
    background: var(--White-color);
    cursor: pointer;
    right: -52px;
    font-size: 20px;
    color: var(--main-color);
}

.Setting-box .icon.rotate {
    animation-name: svg;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: inherit;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes svg {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Setting-box .container {
    padding: 0;
}

.Setting-box .container .option-box {
    padding: 20px;
    text-align: center;
    background: #e3e2e2;
    margin: 5px;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.Setting-box .container .option-box h3 {
    margin-bottom: 0px;
    color: var(--White-color);
}
.Setting-box .container .option-box:nth-child(2) h3 {
    text-align: right;
}
.Setting-box .container .option-box:nth-child(3) h3 {
    font-size: 25px;
}
.Setting-box .container .option-box:nth-child(3) .countan div {
    width: 72px;
    background: var(--main-color);
    padding: 5px 15px;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
}
.Setting-box .container .option-box:nth-child(3) .countan div.active {
    opacity: 1;
}
.Setting-box .container .option-box:nth-child(2) .toggle-checkbox{
    -webkit-appearance: none;
    appearance: none;
    display: none
}
.option-box label{
    position: absolute;
}
.toggle-checkbox:checked + .toggle-switch{
    background-color: var(--main-color);
}
.toggle-switch{
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.toggle-switch::before{
    font-family: var(--fa-style-family-classic);
    content: "\f185";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;

}
.toggle-checkbox:checked + .toggle-switch::before{
    content: "\f186";
    left: 50px;
    color: var(--main-color);
}
.toggle-checkbox{
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.Setting-box .container .option-box .The-Option {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Setting-box .container .option-box .The-Option>div {
    padding: 10px 20px;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    font-weight: bold;
    background: var(--White-color);
    color: var(--Black-color);
}

.Setting-box .container .option-box .The-Option>div.active-Them {
    opacity: 0.5;
    box-shadow: 0 0 10px var(--Black-color);
}

.Setting-box .container .option-box .The-Option>div.white {
    background: var(--White-color);
    color: var(--Black-color);
}

.Setting-box .container .option-box .The-Option>div.black {
    background: var(--Black-color);
    color: var(--White-color);
}

.Setting-box .container .option-box ul.The-Option {
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
    gap: 0;
    margin: 0;
}

.Setting-box .container .option-box .The-Option>li {
    width: 25px;
    height: 25px;
    background: var(--Black-color);
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    border-color: var(--White-color);
    border-width: 3px;
}

.Setting-box .container .option-box .The-Option>li.active-color {
    border-style: double;
    border-color: white;
    opacity: 0.8;
    outline: white solid 1px;
}

.Setting-box .container .option-box .The-Option>li:first-child {
    background: #0088ff;
}

.Setting-box .container .option-box .The-Option>li:nth-child(2) {
    background: #E91E63;
}

.Setting-box .container .option-box .The-Option>li:nth-child(3) {
    background: #51c76b;
}

.Setting-box .container .option-box .The-Option>li:nth-child(4) {
    background: #45b09e;
}

.Setting-box .container .option-box .The-Option>li:last-child {
    background: #d858a3;
}

.Setting-box .container .Reset-Option {
    padding: 12px 6px;
    background: #F44336;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 96%;
    display: block;
    cursor: pointer;
}
.Setting-box .container .more{
    direction: rtl;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}
.Setting-box .container .more span{
    color: #fff;
    font-weight: bold;
}

.Setting-box .container input[type=color] {
    padding: 0px;
    border: 0;
    cursor: pointer;
    width: 43px;
    height: 30px;
    padding: 4px;
    background-color: var(--main-color);
    border-radius: 6px;
}
#Input_Range{
    /* background-color: var(--main-color); */
    /* pointer-events:stroke; */
    -webkit-appearance: none;
    background-color:#fff;
    padding: 3px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0  0 0 2px  #ddd , inset 0 0 5px #ddd;
    overflow: hidden;
    outline: none;
}
#Input_Range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    border: 4px solid rgb(206, 206, 206);
    z-index: 2;
    box-shadow: -407px 0 0 400px var(--main-color);

}
.option-box .contain .button{
    width: 40px;
    height: 30px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    filter: brightness(0.8);
}
.option-box .contain .button#font_value{
    width: 50px;
    height: 50px;
    cursor: default;
    filter: brightness(1);
}
.default{
    cursor: default;
    pointer-events: none;
}
/* Mobile  */
@media (max-width : 767px) {
    .Setting-box .icon-box{
        top: 200px;

    }
}
/* End Setting-box */
/* Start Header */
header {}

header .container {}

header .menu {
    cursor: pointer;
}

header .menu span {
    width: 45px;
    background-color: var(--main-color);
    height: 8px;
    margin-bottom: 1px;
    display: block;
    transition: 0.2s;
    border-radius: var(--main-border-radius);
}

header .menu.toggel span:first-child {
    transform: rotate(45deg) translatey(150%);
    background-color: red;
}

header .menu.toggel span:nth-child(2) {
    opacity: 0;
}

header .menu.toggel span:last-child {
    transform: rotate(-45deg) translatey(-150%);
    background-color: red;
}

header .menu-box {
background-color: #e3e2e2;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: var(--main-transition);
    transform: translateY(-116%);
    z-index: 1200
}

header .menu-box.open {
    transform: translateY(0);
    /* top: 89px; */
    bottom: 0;
}

header .menu-box .contain {
    flex-wrap: wrap;

    width: 80%;
    margin: 70px auto;
    gap: 20px;
    direction: rtl;
}

header .menu-box .feat {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: var(--main-border-radius);
    min-width: 185px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    cursor: pointer;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
}

header .menu-box .feat::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    width: 30px;
    height: 30px;
    background: #00000026;
    border-radius: 50%;
    transition: 0.3s;
}

header .menu-box .feat:hover::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    width: 110%;
    height: 110%;
    background: #00000026;
    border-radius: 0%;
}

header .logo .name {
    font-family: revert;
    font-size: 18px;
    color: var(--Black-color);
    font-weight: bold;
}

header .search  {
    padding: 10px;
    border-radius: var(--main-border-radius);
    transition: var(--main-transition);
}
header .search.active {
    background: #e3e2e2;
}
header .search input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid transparent;
    transform: translatey(-49%);
    border-color: var(--White-color);
    display: block;
    opacity: 0;
    transition: 0.1s;
}
header .search input.active {
    transition: var(--main-transition);
    border-bottom: 1px solid rgb(206, 206, 206);
    transform: translatey(0);
    background-color: #fafafa;
    opacity: 1;
}
header .search input:focus-visible {
    outline: none;
}
header .logo {
    display: flex;
    align-items: center;
    gap: 21px;
    padding: 5px 0;
}

header .logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

header .search > div {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

header .search > div:before {
    content: '';
    position: absolute;
    bottom: -7px;
    right: -4px;
    width: 3px;
    height: 9px;
    background: var(--main-color);
    transform: rotate(321deg);
    border-radius: 9%;
}

header .lang {
    display: flex;
    /* gap: 10px; */
    background: #e3e2e2;
    padding: 10px;
    border-radius: 7%;
}

header .lang div {
    width: 50px;
    text-align: center;
    color: black;
    cursor: pointer;
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
    z-index: 2;
    font-weight: bold;
    padding: 4px;
}

header .lang div.active {
    width: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 0;
}

header .lang a:first-child div::before {
    content: '';
    position: absolute;
    top: 0;
    transform: translateX(100%);
    background-color: #acacac;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
    z-index: -1;
}

header .lang a:first-child div.active::before {
    transform: translateX(-6px);
}

header .lang a:last-child div::before {
    content: '';
    position: absolute;
    top: 0;
    background-color: #acacac;
    background-color: var(--main-color);
    transform: translateX(-142%);
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
    z-index: -1;
}
header .lang a:last-child div.active::before {
    transform: translateX(-20px);
}
.Them {
    padding: 10px 15px;
    background: #e3e2e2;
    border-radius: 6px;
    cursor: pointer;
}
.Them i{
    font-size: 18px;
    color: var(--Black-color);
    transition: 0.3s;
}

.Them:hover i{
    color: var(--main-color);
}
.container-Result{
    background: #fafafa;
    position: absolute;
    top: 72px;
    width: 100%;
    height: auto;
    z-index: 1000;
    flex-direction: column;
    right: 0;
    min-height: 100px;
    display: none;
    direction: rtl;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 4px solid #8f8f8f
}
.container-Result.open{
    display: flex;
}
@media (max-width : 992px)  {
    .container-Result{
        top: 64px;
    }

}
.container-Result .count{
    padding: 10px;
    margin: 30px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.container-Result .count span{
    padding: 5px 10px;
    background: var(--main-color);
    color: #fff;
    border-radius: 6px;
}
.container-Result .count span.Delete{
    padding: 5px 15px;
    cursor: pointer;
}
.container-Result .container{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container-Result .container .result{
    background: var(--main-color-op);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.container-Result .container .Massege{
    padding: 10px;
    background: #e3e2e2;
    color: gray;
    font-weight: bold;
}
/* Mobile  */
/* Mobile  */
@media (max-width : 280px) {
    header .container > .logo{
        width: 72% !important;
    }
    header .container > .logo .name{
        font-size: 13px !important;
    }
    header .menu-box .feat{
        width: 255px !important;
    }
}
@media (max-width : 767px) {
    header{
        padding: 0 20px !important;
    }
    header .container {
        flex-wrap: wrap;
        direction: rtl;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 15px;
    }
    header .container .lang{
        direction: ltr;
        order: 4;
    }
    header .container .search{
        order: 4;
    }
    header .container .menu  {
        order: 4;
    }
    header .container > .logo {
        width: 80%;
        justify-content: end;
        order: 3;
        direction: ltr;
        gap: 10px;
    }
    header .container > .logo .name{
    direction: rtl;
    font-size: 15px;
    font-weight: bold;
    }
    header .menu-box{
        transform: translateY(-116%);
    }

    header .menu-box .feat{
    width: 300px;
    height: 60px;
}
header .search input{
    width: 143px;
    }
    header .search input.active{
        width: 143px;
    }
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
    header .container {
        flex-wrap: wrap;
        direction: rtl;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    header .container .lang{
        direction: ltr;
        order: 4;
    }
    header .container .search{
        order: 4;
}
header .container .menu  {
    order: 4;
}
header .container > .logo {
    width: 80%;
    justify-content: end;
    order: 3;
    direction: ltr;
}
}
/* End Header */
/* Start backGround-Imge  */
    .events-in-back-ground{
    display: none;
}

/* Mobile  */
@media (max-width : 767px) {
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
    .backGround-Imge .carousel-item img{
    /* height: 489.5px !important;     */
}
}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {


}
/* End backGround-Imge  */

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {
    .events-in-back-ground{
    display: block;
}
.carousel{
    position: relative;
    width: 100%;
    height: 100%;
}
/* .carousel-item  .w-100{
    width: 100%!important;
    height: calc(100% - 40px) !important;
} */
}
/* Large screen */
@media (min-width : 1200px) {
    .events-in-back-ground{
    display: block;
}
.carousel{
    position: relative;
    width: 100%;
    height: 100%;
}
}
/* Start Why This School */
.why {
    /* height: 100vh; */
    direction: rtl;
    margin: 100px auto;
    flex-wrap: wrap;
    color: var(--Black-color);
    transform: translateX(-100%);
}

.why .container {
    /* flex-direction: column; */
    gap: 35px;
    line-height: 2.2;
    padding: 0 50px;
}
.why .container  > div{
    flex-wrap: wrap;
}

.why .container .results {
    list-style: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.why .container .results li {
    padding: 5px 10px;
    background: var(--main-color);
    border-radius: 6px;
    color: white;
    width: 100%;
}

.events {
    padding: 5px 10px;
    background: var(--White-color);
    border-radius: 6px;
    width: 100%;
    color: var(--Black-color);
    order: 1;
    margin: 100px auto 50px;
}

 .events h3 {
    /* color: var(--main-color); */
    margin: 20px;
}
/* Mobile  */
@media (max-width : 767px) {
.why{
    padding: 0 20px;
}
.why .container{
    padding: 0 !important;
}
.why  .container-eventes {
    flex-direction: column !important;
    gap: 40px !important;
}
.why .container .results{
    width: 100%;
}
.why .container .events{
    width: 100%;
}

}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
.why{
    padding: 0 20px;
}
.why .container{
    padding: 0 !important;
}
.why  .container-eventes {
    flex-direction: column !important;
    gap: 40px !important;
}
.why .container .results {
    width: 100%;
}
.why .container .events{
    width: 100%;
}
}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {
    /* .why .container{
        padding: 0 !important;
    }
    .why  .container-eventes {
        flex-direction: column !important;
        gap: 40px !important;
    }
    .why .container .results {
        width: 100%;
    }
    .why .container .events{
        width: 100%;
    } */


}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {

}
/* Large screen */
@media (min-width : 1200px) {

}
/* End Why This School */
/* Start History */
.History {
    /* min-height: 50vh; */
    margin: 100px auto;
}

.History .container {
    width: 85%;
    gap: 112px;
    flex-direction: column;
    margin: 0 auto;
}

.History .container .box {
    width: 700px;
    background: #e3e2e2;
    padding: 60px 30px 30px 30px;
    text-align: center;
    flex-direction: column;
    opacity: 0;
}

.History .container .feat {
    background-color: var(--main-color)!important;
    padding: 20px!important;
    width: calc(100% + 120px)!important;
    color: #fff !important;
    margin: 0;
}

.History .container .feat::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    border-width: 15px;
    border-style: solid;
    border-color: var(--main-color) var(--main-color) transparent transparent;
    filter: brightness(0.9);
}

.History .container .feat::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    border-width: 15px;
    border-style: solid;
    border-color: var(--main-color) transparent transparent var(--main-color);
    filter: brightness(0.9);
}

.History .container p {
    margin-top: 10px;
    line-height: 1.8;
}

.History .container p bdo {
    direction: rtl;
}

.History .container p output {
    direction: ltr;
}

.History .container p output span {
    font-weight: bold;
    cursor: text;
    color: var(--main-color);
}

.History .container p output span.See {
    cursor: pointer;
}

.History .container p .Toggel {
    display: none;
}

.History .container p .Toggel.open {
    display: block;
}

/* Mobile  */
@media (max-width : 767px) {
.History .container {
    width: 100%;
}
.History .container .box{
    width: 87%;
}
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
.History .container {
    width: 100%;
}
.History .container .box{
    width: 94%;
}
}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {


}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {

}
/* Large screen */
@media (min-width : 1200px) {

}
/* End History */
/* Start Number */
.Number {
    flex-wrap: wrap;
    margin: 300px auto;
}

.Number .container {
    gap: 46px;
    width: 90%;
}

.Number .container .number-box {
    background: var(--main-color);
    width: 200px;
    height: 200px;
    flex-direction: column;
    border-radius: 50%;
    color: #fff;
}

.Number .container .number-box .The-Count {
    font-size: 50px;
    gap: 10px;
}

.Number .container .number-box .TheName {
    font-size: 20px;
}

.Number .container .number-box span {
    font-size: 25px;
}
/* Mobile  */
@media (max-width : 767px) {
.Number .container{
    align-items: center;
    flex-wrap: wrap;
}
.Number .container .number-box:first-child{
    order: 1;
}
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
.Number .container{
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
}
}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {


}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {

}
/* Large screen */
@media (min-width : 1200px) {

}
/* End Number */
/* Start Our-Skills */
.Our-skills {
    /* height: 100vh; */
    margin: 300px auto;
    flex-wrap: wrap;
}

.Our-skills .container-1 {
    margin: 0 auto;
    width: 80%;
    height: 300px;
    flex-wrap: wrap;
}

.Our-skills .container-1 .number {
    padding: 20px;
    height: 10%;
    margin-bottom: 10px;
    padding: 0;
}

.Our-skills .container-1 .box {
    background: #e3e2e2;
    flex-wrap: wrap;
    border-left: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    border-radius: 5px;
}

.Our-skills .container-1 .box .skills {}

.Our-skills .container-1 .number div {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--Black-color);
    font-weight: bold;
}

.Our-skills .container-1 .box .line {
    background-color: white;
    width: 29px;
    flex-direction: column;
}

.Our-skills .container-1 .box .line .line-1 {
    background-color: var(--main-color);
    transition: 3s;
}

/* .Our-skills .container-1 .box #line-1 { */
    /* height: 85%; */
/* } */

/* .animat-1 { .Our-skills:hover #line-1 */
    /* animation-name: line-1-bottom; */
    /* animation-play-state: running; */
    /* animation-duration: 3s; */
/* } */
/*  */
/* .Our-skills .container-1 .box .animat-2 { */
    /* height: 90%; */
/* } */
/*  */
/* .animat-2 { */
    /* animation-name: line-2-bottom; */
    /* animation-play-state: running; */
    /* animation-duration: 3s; */
/* } */
/*  */
/* .Our-skills .container-1 .box #line-3 { */
    /* height: 73%; */
/* } */
/*  */
/* .animat-3 { */
    /* animation-name: line-3-bottom; */
    /* animation-play-state: running; */
    /* animation-duration: 3s; */
/* } */
/*  */
/* .Our-skills .container-1 .box #line-4 { */
    /* height: 80%; */
/* } */

.animat-4 {
    animation-name: line-4-bottom;
    animation-play-state: running;
    animation-duration: 3s;
}

.Our-skills .container-1 .name {
    display: flex;
    justify-content: space-around;
    height: 10%;
    margin-top: 10px;
    font-weight: bold;
    align-items: center;
}

.Our-skills .container-1 .name div {
    min-width: 80px;
    text-align: center;
    color: var(--Black-color);
}
/* Small Mobile  */
@media (max-width : 280px) {
    .Our-skills .container-1 .name div{
        min-width: 54px;
    }
}
/* part  */
@keyframes line-1-bottom {
    0% {
        height: 0;
    }

    100% {
        height: 85%;
    }
}

@keyframes line-2-bottom {
    0% {
        height: 0;
    }

    100% {
        height: 90%;
    }
}

@keyframes line-3-bottom {
    0% {
        height: 0;
    }

    100% {
        height: 73%;
    }
}

@keyframes line-4-bottom {
    0% {
        height: 0;
    }

    100% {
        /* height: 100%; */
    }
}

/* End Our-Skills */
/* Start Gallary */
.Gallary-View {
    margin: 100px auto;
    min-height: 100vh;
    flex-direction: column;
}

.Gallary-View-box {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    background: #e3e2e2;
    padding: 20px;
    border-radius: var(--main-border-radius);
    text-align: center;
    direction: rtl;
}

.Gallary-View-box .box-left {
    width: 50%;
}

.Gallary-View-box .box-left p {
    line-height: 1.9;
    margin-bottom: 121px;
    padding: 14px;
    direction: rtl;
}

.Gallary-View-box .box-left button {
    bottom: 10px;
    padding: 10px 20px;
    background: var(--main-color);
    border: none;
    border-radius: var(--main-border-radius);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Gallary-View-box .box-left a button {
    text-decoration: none;
    color: #fff;
}

.Gallary-View-box .box-right {
    width: 50%;
}

.Gallary-View-box .box-right .contain {
    flex-wrap: wrap;
    height: 100%;
}

.Gallary-View-box .box-right .contain img {
    width: 33.333%;
    height: 50%;
}

.Gallary {
    height: auto;
    background: #e3e2e2;
    transition: var(--main-transition);
    transform: translateX(-100%);
    /* z-index: 1000; */
}

.Gallary .contain {
    width: 90%;
    margin: 0 auto;
}

.Gallary.open {
    position: relative;
    transform: translateX(0%);
}

.Gallary .close {
    text-align: right;
    padding: 30px 0 0 0;
    display: inline-block !important;
    margin: 0 0 10px 0;
}

.Gallary .close div {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    padding: 0px 14px;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    background-color: white !important;
}

.Gallary .close div a {
    text-decoration: none;
    color: var(--main-color);
}

.Gallary .title-gallery{
    width: fit-content !important;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 !important;
    font-size: 27px;
    font-weight: bold;
    color: var(--Black-color);
}

.Gallary aside {
    flex-wrap: wrap;
    margin: 10px auto;
    gap: 20px;
    padding: 20px;
    direction: rtl;
    background-color: white !important;
}

.Gallary aside div {
    min-width: 100px;
    background: var(--main-color);
    border-radius: var(--main-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: var(--main-transition);
}

.Gallary aside div.active {
    opacity: 0.7;
    filter: grayscale(1);
}

.Gallary aside div:hover {
    opacity: 0.7;
    filter: grayscale(1);
}

.Gallary .container-Gallary {
    flex-wrap: wrap;
    padding: 20px 0;
}

.Gallary .img-box {
    width: 25%;
    overflow: hidden;
    height: 250px;
    transition: var(--main-transition);
    cursor: pointer;
}

.Gallary .show {
    display: none;
}

.Gallary .show.block {
    display: block;
}

.Gallary .img-box img {
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
}

.Gallary .img-box:hover img {
    transform: rotate(3deg);
}

.Gallary .img-box .caption {
    background: #fff;
    padding: 10px;
    direction: rtl;
    transition: var(--main-transition);
    transform: translateY(0%);
}

.Gallary .img-box:hover .caption {
    transform: translateY(-100%);
}

.Gallary .img-box:hover .caption q::before,
.Gallary .img-box:hover .caption q::after {
    content: '';
}

.Gallary .Show-Button {
    margin: 20px auto 50px ;
}

.Gallary .Show-Button div {
    padding: 15px 20px;
    background: var(--main-color);
    border-radius: var(--main-border-radius);
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #33333369;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.popup-Img-Box {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -44%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 34px 39px;
    border: 1px solid #cfc7c7;
    border-radius: var(--main-border-radius);
    text-align: right;
    z-index: 1000;
    gap: 20px;
    height: 664px;
    height: 745px;
}

.popup-Img-Box i{
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    background: #e3e2e2;
    cursor: pointer;
}
.popup-Img-Box i.fa-angle-left{
    left: 5px;

}
.popup-Img-Box i.fa-angle-right{
    right: 5px;

}

.popup-Img-Box img {
    margin: 0 auto;
    width: 700px;
    height: 600px;
}

.popup-Img-Box>span {
    position: absolute;
    top: -13px;
    right: -13px;
    padding: 5px 15px;
    background: red;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.popup-Img-Box .Caption {
    display: flex;
    justify-content: space-between;
    direction: rtl;
    align-items: center;
    background: #e3e2e2;
    padding: 10px;
    border-radius: var(--main-border-radius);
    flex-wrap: wrap;
    width: auto;
}

.popup-Img-Box .Caption h3{
    font-size: 20px;
}
.popup-Img-Box .Caption h3,
.popup-Img-Box .Caption p {
    margin-bottom: 0;
}

.popup-Img-Box .Caption p {
    display: flex;
    gap: 9px;
}
/* Small Mobile  */
@media (max-width : 280px) {
    .Gallary-View-box .box-left p{
        margin-bottom: 125px !important;
    }
}
/* Mobile  */
@media (max-width : 767px) {
.Gallary-View-box{
    flex-direction: column;
}
.Gallary-View-box > div{
    width: 100% !important;
}
.Gallary-View-box  .box-right{
    display: none;
}
.Gallary-View-box .box-left p{
    margin-bottom: 70px;
}
.Gallary-View-box .box-left button{
    bottom: -6px;
}
.Gallary .img-box{
    width: 100%;
    height: auto;
}
.popup-Img-Box{
    bottom: 0;
    height: auto;
    width: 94%;
    padding: 39px 20px;
}
.popup-Img-Box img{
    height: 317px;
    width: 317px;
}
.popup-Img-Box .Caption{
    width: auto;
}
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
    .Gallary-View-box .box-left button{
        bottom: -21px;
    }
    .Gallary .img-box{
        width: 50%;
    }
    .popup-Img-Box{
        bottom: 0;
        height: 491px;
        width: auto;
    }
    .popup-Img-Box img{
        height: 358px;
        width: 517px;
    }
    .popup-Img-Box .Caption{
        width: 517px;
    }

}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {


}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {

}
/* Large screen */
@media (min-width : 1200px) {

}
/* End Gallary */
/* Start Job  */
.Job {
    min-height: 100vh;
}

.Job .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Job .container {

}

.Job .feat-00:first-child {
    animation-delay: 0.5s;
}
.Job .feat-00:nth-child(2) {
    animation-delay: 1s;

}
.Job .feat-00:nth-child(3) {
    animation-delay: 1.5s;

}
.Job .feat-00:nth-child(4) {
    animation-delay: 2s;

}
.Job .feat-00:last-child {
    animation-delay: 2.5s;

}
.Job .feat-00 {
    background-color: var(--White-color);
    color: var(--main-color);
    height: auto;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid #dfd9d9;
    border-left: 2px solid #dfd9d9;
    border-top: 1px solid #dfd9d9;
    border-bottom: 1px solid #dfd9d9;
    transition: var(--main-transition);
    padding: 10px;
    opacity: 0;
}

.Job .feat-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Job .feat-01 .title-1 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    width: auto;
    color: var(--main-color);
}

.Job .feat-01 .title-1:hover {
    color: var(--main-color);
}

.Job .feat-01 svg {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
    color: var(--main-color);
}

.Job .feat-02 {
    direction: rtl;
    line-height: 3;
    padding: 10px 5px;
}

.Job .feat-03 {
    border-top: 0.5px solid #e3e2e2;
    display: flex;
    align-items: center;
    padding: 7px 0;
    transition: var(--main-transition);
    margin: 0;
}

.Job .feat-03:hover {
    transform: scale(1.05);
    color: var(--main-color);
}

.Job .feat-03 svg {
    margin: 0 10px;
}

.Job .feat-03 div {
    color: var(--main-color);
    margin: 0 10px;
    color: #8f8b8b;
    font-weight: bold;
    font-size: 17px;
}

.Job .feat-03 div:hover {
    color: var(--main-color);
}

.Job a {
    background-color: transparent;
    text-decoration: none;
    color: var(--main-color);
    width: fit-content;
    margin: 30px auto;
}

.Job .Contact {
    text-align: center;
    font-size: 16px;
    border: 2px solid;
    width: 122px;
    padding: 20px;
    font-weight: bold;
    color: var(--main-color);
    border-radius: 7px;
    cursor: pointer;
}

.Job .Contact:hover {
    background-color: #efebeb59;
    background-color: var(--main-color);
    color: white;
}
.popup {
    position: fixed;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #8d8d8d;
    width: 74%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex-direction: column-reverse;
    font-family: system-ui;
    font-weight: bold;
    color: #ffffff;
    z-index: 3;
    opacity: 0.9;
    gap: 20px;
}

.popup button {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    background: var(--main-color);
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.5;
    z-index: 1;
}
/* Mobile  */
@media (max-width : 767px) {
    .Job .container{
        justify-content: center;
    }
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
    .Job .container{
        justify-content: center;
    }

}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {


}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {

}
/* Large screen */
@media (min-width : 1200px) {

}
/* End Job  */
/* Start Qu */
.Qu {
    min-height: 100vh;
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
}
.Add-Applecation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--White-color);
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px var(--Black-color);
    z-index: 2;
    width: 308px;
}
.Add-Applecation .before{
    content: 'X';
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}
.Add-Applecation h3{
    text-align: center;
    margin: 20px auto 20px;
    color: var(--Black-color);
}
.Add-Applecation p{
    text-align: center;
    color: #ababab;
}
.Add-Applecation form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Add-Applecation form input{
    direction: rtl;
    border: none;
    background: #e3e2e2;
    padding: 9px 6px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    transition: 0.3s;
}
.problem{
    border-bottom: 2px solid red !important;
}
.none {
    display: none !important;
}
.block {
    display: block !important;
}
.Add-Applecation form input:focus-visible::placeholder{
    opacity: 0;
}
.Add-Applecation form input:focus-visible{
    direction: ltr;

}
.Add-Applecation form > label{
    display: flex;
    direction: rtl;
    align-items: center;
    gap: 10px;
}
.Add-Applecation form label input ,
.Add-Applecation form label div{
    cursor: pointer;
    color: var(--Black-color);
}
.Add-Applecation input[type=submit]{
    cursor: pointer;
    margin-left: auto;
    background: var(--main-color);
    color: #fff;
    border: none;
    padding: 2px 21px;
    border-radius: 4px;
    font-weight: bold;
}
.Add-Applecation input[type=submit].submit-checked{
    background: #a9a9a9;
    pointer-events: none;
}
.Add-Applecation .upload input{
    display: none;
}
.Add-Applecation .upload label{
    border: none;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Add-Applecation .upload .fa-upload{
    position: relative;
}
.Add-Applecation .upload .fa-upload::before{
    content: "\f093";
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translate(-50%, -50%);
}
.Add-Applecation .the-src{
    background: #e3e2e2;
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.Add-Applecation .the-src p{
    direction: ltr;
    cursor: pointer;
    margin: 6px 2px ;
    font-size: 14px;
    overflow-wrap: anywhere;
    color: var(--main-color);
}
.Add-Applecation form > label{
    color: #222;
}
.Add-Applecation form > label.checked{
    color: #a5a5a5;
    text-decoration: underline;
}
.Creat-Applecation-ok {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    background: var(--White-color);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    z-index: 2;
    box-shadow: 0px 2px 2px var(--Black-color);
    min-width: 309px;
    max-width: 331px;
}
.Creat-Applecation-ok i{
    font-size: 50px;
    color: #44bf44;
    transition: var(--main-transition);
    animation: Rotate_i 0.4s linear forwards;
    animation-delay: 0.1s;
    background-color: #fff;
    border-radius: 50%;
}
.Creat-Applecation-ok > p{
    margin: 15px 0 5px 0px;
    font-weight: bold;
    direction: rtl;
    overflow-wrap: anywhere;
}
.Creat-Applecation-ok > .div{
    width: 100%;
    justify-content: center;
    align-items: self-end;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background: #ddd;
    border-radius: 5px;
    font-weight: bold;
}
.Creat-Applecation-ok > .div input{
    margin-right: auto;
    cursor: no-drop;
    background-color: #b5b5b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 3px 6px;
    width: 90%;
    margin: 0 auto 10px 10px;
}
.Creat-Applecation-ok button{
    width: 100%;
    border: none;
    padding: 7px;
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/* Small Mobile  */
@media (max-width : 280px) {
    .Add-Applecation , .Creat-Applecation-ok{
        min-width: 265px;
        width: 265px;
        padding: 10px;
        /* overflow: hidden; */
    }

}
/* End Qu */
/* Start Contact-Us */

.Contact-Us .container {
    width: 90%;
    direction: rtl;
}

.Contact-Us .boxes {
    padding: 20px;
    border-radius: var(--main-border-radius);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Contact-Us .boxes .box:first-child {
    animation-delay: 0.3s;
}
.Contact-Us .boxes .box:nth-child(2) {
    animation-delay: 0.6s;

}
.Contact-Us .boxes .box:nth-child(3)  {
    animation-delay: 0.9s;

}
.Contact-Us .boxes .box:nth-child(4)  {
    animation-delay: 1.2s;

}
.Contact-Us .boxes .box:nth-child(5)  {
    animation-delay: 1.5s;

}
.Contact-Us .boxes .box:last-child {
    animation-delay: 1.8s;

}
.Contact-Us .boxes .box  {
    gap: 20px;
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 0;
    border-radius: var(--main-border-radius);
    background: rgb(0 136 255 / 30%);
    position: relative;
    transform: translateX(-150%);
    justify-content: space-between;
}
.Contact-Us .boxes .box:first-child  {
    justify-content: start;
}
.Contact-Us .boxes .box > div {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.Contact-Us .boxes .box i{
    font-size: 30px;
    background: #0088ff;
    color: #fff;
    padding: 9px;
    width: 50px;
    text-align: center;
    border-radius: 8px;
}

.Contact-Us .boxes .box svg {
    font-size: 22px;
    color: var(--main-color);
    margin-right: 15px;
}
.Contact-Us .boxes .box a {
    text-decoration: none;
    transition: var(--main-transition);
    color: #0088ff;
}

.Contact-Us .boxes .box a:hover {
    text-decoration: underline;
}

.Contact-Us .boxes .box .Text:hover {
    text-decoration: none;
}

.Contact-Us .boxes .box div {
    padding: 0px;
}
.Contact-Us .boxes .box .span {
    padding: 3px 16px;
    min-width: 100px;
    min-height: 34px;
    right: 15px;
    color: #fff !important;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: #bdb0b038;
}
.Contact-Us .boxes .box .span:hover {
    background-color: #7c727238;

}
.Contact-Us .boxes .box:nth-child(3) {
    background-color: rgb(90 213 60 / 30%);
}
.Contact-Us .boxes .box:nth-child(3) i{
    background-color: #5ad53c;
}
.Contact-Us .boxes .box:nth-child(3) a{
    color: #5ad53c;
}
.Contact-Us .boxes .box:nth-child(3) span{
    background-color: #5ad53c;
}

.Contact-Us .boxes .box:nth-child(5){
    background-color: rgb(255 0 0 / 30%);
}
.Contact-Us .boxes .box:nth-child(5) i{
    background-color: red;
}
.Contact-Us .boxes .box:nth-child(5) a{
    color: red;
}
.Contact-Us .boxes .box:nth-child(5) span{
    background-color: red;
}

.Contact-Us .boxes .box:last-child {
    background-color: rgb(3 106 197 / 30%);
}
.Contact-Us .boxes .box:last-child i{
    background-color: rgb(3 106 197 );
}
.Contact-Us .boxes .box:last-child a{
    color: #036ac5;
}
.Contact-Us .boxes .box:last-child span{
    background-color: #036ac5;
}
/* Mobile  */
@media (max-width : 767px) {
.Contact-Us .boxes .box{
    flex-wrap: wrap;
    font-size: 21px;
}
.Contact-Us .boxes .box span{
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    position: revert;
}
.Contact-Us .boxes .box a{
    overflow-x: auto;
    font-size: 14px;
    width: 100%;
}
.Contact-Us .boxes .box div{
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
}
.Contact-Us .boxes .box .span{
    padding: 10px 20px;
    margin: 10px 20px;
}
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {

}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {

}
/* Large screen */
@media (min-width : 1200px) {

}

/* End Contact-Us */
/* Strat Count  */
.Count .container {
    width: 90%;
    padding: 0 30px;
    display: flex;
    gap: 10px;
}
.Count .container > div {
    width: 50%;
    background: #e3e2e2ee;
    font-size: 20px;
    padding: 10px;
    border-radius: var(--main-border-radius);
    display: flex;
    align-items: center;
}

.Count .container .counter {
    color: var(--main-color);
    direction: rtl;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.Count .container .counter span{
    font-weight: bold;

}
.Count .container .Application {
    direction: rtl;
    justify-content: space-between;

}
.Count .container .Application div {
    display: flex;
    gap: 10px;
}
.Count .container .Application span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--White-color);
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--main-transition);
    color: var(--Black-color);
}
.Count .container .Application span:hover{
    transform: scale(1.05);
    color: var(--main-color);
}
.Count .container .Application span i{
    color: var(--main-color);
    font-size: 25px;
}

/* Large screen */
@media (min-width : 1200px) {

}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {
    .Count .container {
        flex-direction: column;
    }
    .Count .container > div{
        width: 100%;
    }

}
/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
.Count .container {
    flex-direction: column;
}
.Count .container > div{
    width: 100%;
}

}
/* Mobile  */
@media (max-width : 767px) {
.Count .container {
    flex-direction: column;
}
.Count .container > div{
    width: 100%;
    flex-direction: column;
    gap: 15px;
}
}
/* Small Mobile  */
@media (max-width : 280px) {
    .Count .container {
    flex-direction: column;
}
.Count .container > div{
    width: 100%;
    flex-direction: column;
    gap: 15px;
}
}
/* End Count  */
/* Start subscribe */
.subscribe{
    direction: rtl;
    text-align: center;
    background: var(--main-color);
    margin-top: 100px;
}
.subscribe .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.subscribe .container span{
    font-weight: bold;
    font-size: 18px;
    min-width: fit-content;
}
.subscribe .container form{
    width: 72%;
    display: flex;
    justify-content: space-between;
}
.subscribe .container input:first-of-type{
    width: 77%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #e3e2e2;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}
.subscribe .container input:focus-visible{
    outline: none;
}
.subscribe .container input::placeholder{
    color: #fff;
}
.subscribe .container #button{
    border-radius: 21px;
    padding: 5px 15px;
    color: #fff;
    background: #8d8d8d;
}
/* Small Mobile  */
@media (max-width : 280px) {
    .subscribe .container input:first-of-type{
        font-size: 12px ;
    }
}
/* Mobile  */
@media (max-width : 767px) {
    .subscribe .container{
        flex-direction: column;
    }
    .subscribe .container form{
        flex-direction: column;
        gap: 20px;
    }
    .subscribe .container input:first-of-type{
        width: 100%;
    }
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {


}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {


}
/* Large screen */
@media (min-width : 1200px) {

}
/* End subscribe */
/* Start footer  */
footer {
    padding: 20px;
    background: #181818;
    font-size: 19px;
    color: #fff;
    border-top: 1px solid rgb(112, 110, 110);
}

footer .Text {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    margin: 0 7px;
}

footer a div {
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);

}

/* End footer  */
/* Start popup  */
.popup-Email{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--White-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    color: var(--Black-color);
    justify-content: center;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(2px 3px 3px var(--Black-color));
    min-width: 343px;
    font-weight: bold;
    font-size: 18px;
    display: none;

}
.popup-Email.display-block i {
    font-size: 50px;
    color: #44bf44;
    transition: var(--main-transition);
    animation: Rotate_i 0.4s linear forwards;
    animation-delay: 0.1s;
}
.popup-Email p {
    margin-top: 15px;
}
.popup-Email div {
    color: var(--main-color);
}
.popup-Email button{
    background: var(--main-color);
    padding: 5px 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.display-block{
    display: flex !important;
}
/* End popup  */
/* Start Button Top  */
.Button-Top {
    position: fixed;
    bottom: 79px;
    background: var(--main-color);
    padding: 10px 20px;
    left: 30px;
    border: none;
    border-radius: var(--main-border-radius);
    z-index: 999;
    border: 1px solid rgb(176, 176, 176);
}

.Button-Top .line {
    height: 25px;
    width: 4px;
    background: #fff;
    position: relative;
    border-radius: var(--main-border-radius);
}

.Button-Top .line::before {
    content: '';
    width: 15px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius: var(--main-border-radius);
    top: 2px;
    left: -1px;
    transform: rotate(43deg);
}

.Button-Top .line::after {
    content: '';
    width: 15px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius: var(--main-border-radius);
    top: 2px;
    right: -1px;
    transform: rotate(-43deg);
}

/* End Button Top  */
/* Start Bullets  */
.Bullets {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    z-index: 2;
    transition: var(--main-transition);
}
.Bullets.None {
    right: -100%;
}
.Bullets .Bullet{
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: var(--main-transition);
    opacity: 0.5;
}
.Bullets .Bullet.active{
    opacity: 1;
    background-color: var(--main-color);
}
/* .Bullets .Bullet:hover , */
/* #Home:hover ~ .Bullets .Bullet[data-section="#Home"], */
/* #why:hover ~ .Bullets .Bullet[data-section="#why"], */
/* #Date:hover ~ .Bullets .Bullet[data-section="#Date"], */
/* #Massege:hover ~ .Bullets .Bullet[data-section="#Massege"], */
/* #Number:hover ~ .Bullets .Bullet[data-section="#Number"], */
/* #Our-skills:hover ~ .Bullets .Bullet[data-section="#Our-skills"], */
/* #Gallary-View:hover ~ .Bullets .Bullet[data-section="#Gallary-View"], */
/* #Job:hover ~ .Bullets .Bullet[data-section="#Job"], */
/* #Qu:hover ~ .Bullets .Bullet[data-section="#Qu"], */
/* #Contact-Us:hover ~ .Bullets .Bullet[data-section="#Contact-Us"] */
/* { */
    /* opacity: 1; */
    /* background-color: var(--main-color); */
/* } */

/* .Bullets .Bullet.active .tooltip-zero { */
    /* display: block; */
    /* filter: drop-shadow(-1px 3px 3px black); */
/* } */
.Bullets .Bullet:hover .tooltip-zero {
    display: block;
    filter: drop-shadow(-1px 3px 3px black);
}
.Bullets .Bullet .tooltip-zero {
    transition: var(--main-transition);
    color: #fff;
    background: var(--main-color);
    position: absolute;
    top: -3px;
    right: 33px;
    padding: 3px 10px;
    width: max-content;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none;
    font-size: 14px;

}
.Bullets .Bullet .tooltip-zero::before{
    content: "";
    border-width: 13px;
    border-color: transparent transparent transparent var(--main-color);
    border-style: solid;
    position: absolute;
    top: 50%;
    right: -26px;
    transform: translateY(-50%);
    height: 14%;
}
/* End Bullets  */
/* Start Online  */
.container-Online{
    flex-direction: column;
}
.container-Online ul.None{
    display: none;
}
/* End Online  */
/* Start Animation  */
.Set-scroll-left {
    animation: slid_left 0.5s linear forwards;
    animation-delay: 0.2s;
}

.Set-scroll-Right {
    animation: slid_Right 0.5s linear forwards;
    animation-delay: 0.2s;
}
.Show-opacity{
    animation: show_opacity 0.5s linear forwards;
    animation-delay: 0.3s;
}
@keyframes slid_left {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slid_Right {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes show_opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes Rotate_i {
    0%{
        transform: rotate3d(0);
    }
    50%{
        transform: rotate3d(2, 2, 2, 360deg);
    }
    100%{
    transform: rotate3d(2, 2, 2, 360deg) scale(1.2);
    }
}
/* End Animation  */
/* Start Special */
.img-fluid{
    width: 300px;
    height: 300px;
}
/* Mobile  */
@media (max-width : 767px) {
    .img-fluid{
        width: 100% ;
    }

.carousel-inner .carousel-item img{
    height: 310.5px !important;
    width: 100%;
}
}

/* Small screen */
@media (min-width : 768px) and (max-width: 991px) {
.carousel-inner .carousel-item img{
    height: 500px !important;
    width: 100%;
}

}

/* Medim screen */
@media (min-width : 992px) and (max-width: 1199px) {
    .carousel-inner .carousel-item img{
    height: 700px !important;
        width: 100%;
    }

}
/* Large screen */
@media (min-width : 1200px) {

.carousel-inner .carousel-item img{
    height: 700px !important;
    width: 100%;
}

}
/* End Special */
/* Start Massege Of copy */
.Massege_Of_copy{
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 6px 12px;
    position: fixed;
    font-size: 12px;
    z-index: 100;
    width: fit-content;
    left: 50%;
    bottom: 0;
    animation: Massege_Of_copy 1.5s linear forwards;
    transform: translate(-50%, -50%) translatey(-70px);
}
.copeid{
    pointer-events: none;
}
@keyframes Massege_Of_copy {
    0%{
        transform: tra nslate(-50%, -50%) translatey(-70px);
        opacity: 1;
    }
    99%{
        transform: translate(-50%, -50%) translatey(-100px);
        opacity: 1;
    }
    100%{
        transform: translate(-50%, -50%) translatey(-100px);
        opacity: 0;
    }
}
/* End Massege Of copy */
